button#action-btn {
  background-color: #3986e7;
  border: 1px solid #3986e7;
  outline: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 10px auto;
}
.play,
.pause {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  border-color: transparent transparent transparent #fff;
  transition: 100ms all ease;
  cursor: pointer;
}
.play {
  border-style: solid;
  height: 9px;
  border-width: 3px 0 5px 7px;
}
.pause {
  border-style: double;
  border-width: 0px 0 0px 8px;
  height: 8px;
}
.time {
  text-align: center;
}
.custom-select {
  width: 74px;
  font-size: 14px;
}
.dropdown-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-wrapper > select {
  margin-right: 10px;
}
